<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ book.title }}</title>
</head>

<body>
    <h2>The title of the book with id {{ book.id }} is "{{ book.title }}"</h2>
    <p>The author's name is <strong>{{ book.author_full_name }}</strong></p>
    <p>The book was published in <strong>{{ book.year_of_publishing }}</strong></p>
    <p>Just <strong>{{ book.copies_printed }}</strong> copies were printed</p>
    <p>The short description of the book: <strong>{{ book.short_description }}</strong></p>

</body>

</html>